<script lang="ts">
    import { getActivatedRoute, navigate } from "../../Router/router.service";
    import RomsService from "../../Services/roms.service";
    import Binjgb from "../../Services/binjgb";
    import { onDestroy, onMount } from "svelte";
    import { map } from "rxjs/operators";
    import { firstValueFrom } from "rxjs";
    import { BinjgbEmulator } from "./emulator";

    let canvas: HTMLCanvasElement;

    onMount(async () => {
        const id = getActivatedRoute().data.id;
        const romInfo = await firstValueFrom(
            RomsService.getAll("").pipe(
                map((roms) => roms.find((r) => r.id === id))
            )
        );

        if (!romInfo) {
            navigate("/");
            return;
        }

        const [romBuff, saveBuff] = await Promise.all([
            RomsService.getBin(romInfo.binId).then((blob) => readFile(blob)),
            RomsService.getBin(romInfo.saveBinId).then((blob) =>
                blob ? readFile(blob) : null
            ),
        ]);

        // TODO: Poll for emulator fps
        // TODO: Poll to persist saveExtBin
        // TODO: Controls
        //   - Enable,Disable antialiasing
        //   - Enable,Disable widescreen stretch
        //   - Pause/Play
        //   - Rewind?
        //   - Fullscreen
        //   - Hide/Show FPS
        //   - Volume


        BinjgbEmulator.start(
            await Binjgb(),
            romBuff,
            saveBuff,
            canvas
        ).setBuiltinPalette(0);
    });

    onDestroy(() => {
        BinjgbEmulator.stop();
    });

    function goFullscreen() {
        canvas.requestFullscreen();
    }

    function readFile(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onerror = (event) => reject((event as any).error);
            reader.onloadend = (event) => resolve(event.target.result);
            reader.readAsArrayBuffer(file);
        });
    }
</script>

<div style="text-align: center; height: 100%;">
    <canvas bind:this={canvas} />
</div>

<style>
    canvas {
        aspect-ratio: 160 / 144;
        max-height: calc((100vw - 4rem) * 0.9);
        height: calc(100% - 1rem);
        margin: 0 auto;
        image-rendering: pixelated;
    }
</style>
