<script lang="ts">
    import {
        DataTable,
        Toolbar,
        ToolbarContent,
        Button,
        ToolbarSearch,
    } from "carbon-components-svelte";
    import { Add16 } from "carbon-icons-svelte";
import { navigate } from "../../Router/router.service";
    import RomsService from "../../Services/roms.service";
    import UploadDialog from "./UploadDialog.svelte";

    const headers = [
        { key: "name", value: "Name" },
        { key: "createdAt", value: "Created" },
        { key: "size", value: "Size" },
    ];
    const rows$ = RomsService.getAll("");
    let isAddRomOpen = false;
    function toggleDialog() {
        isAddRomOpen = !isAddRomOpen;
    }
    function openRom(stuff) {
        navigate(`/gbc/${stuff.detail.id}/play`);
    }
</script>

<DataTable {headers} rows={$rows$} on:click:row={openRom}>
    <Toolbar>
        <ToolbarContent>
            <ToolbarSearch />
            <Button icon={Add16} on:click={toggleDialog}>Add ROM</Button>
        </ToolbarContent>
    </Toolbar>
</DataTable>

<UploadDialog bind:open={isAddRomOpen} />
