<script lang="ts">
    import {
        ComposedModal,
        ModalHeader,
        ModalFooter,
        ModalBody,
        TextInput,
        FileUploaderDropContainer,
        FileUploaderItem,
    } from "carbon-components-svelte";
    import { derived, get, writable } from "svelte/store";
    import RomsService from "../../Services/roms.service";

    export let open = false;
    let saving = false;
    const selectedFile$ = writable<FileList>([] as any);
    const name$ = writable("");
    const isFormValid = derived(
        [selectedFile$, name$],
        ([files, name]) => !!files.length && !!name
    );
    function updateFiles(e: Event) {
        const files = (e.target as HTMLInputElement).files;
        selectedFile$.set(files);
        if (files.length && !get(name$)) {
            name$.set(files[0].name);
        }
    }
    function removeFile() {
        selectedFile$.set([] as any);
        name$.set("");
    }
    async function submitGame() {
        saving = true;
        const file = await get(selectedFile$)[0].arrayBuffer();
        RomsService.add(get(name$), 'gbc', new Blob([file]));
        saving = false;
        open = false;
        removeFile();
    }
</script>

<ComposedModal bind:open on:close on:submit={submitGame}>
    <ModalHeader label="Add ROM" title="Add a new ROM to your library" />
    <ModalBody>
        <FileUploaderDropContainer
            on:change={updateFiles}
            labelText="Drop or Click to add ROM"
        />
        {#each $selectedFile$ as file}
            <FileUploaderItem
                name={file.name}
                status="edit"
                on:delete={removeFile}
            />
        {/each}
        {#if $name$}
            <div style="margin-top: 1rem;">
                <TextInput
                    bind:value={$name$}
                    labelText="Name"
                    placeholder="Enter name of game..."
                />
            </div>
        {/if}
    </ModalBody>
    <ModalFooter
        primaryButtonDisabled={!$isFormValid}
        primaryButtonText="Add to Library"
    />
</ComposedModal>
