<script lang="ts">
	import { onMount } from "svelte";
	import Router from "./Router/Router.svelte";
	import Routes from "./Routes";
	import {
		Header,
		SkipToContent,
		Content,
		SideNav,
		SideNavDivider,
		SideNavItems,
		SideNavLink,
		SideNavMenu,
		SideNavMenuItem
	} from "carbon-components-svelte";

	let isSideNavOpen = false;

	let app: HTMLDivElement;
	let router: Router;

	onMount(() => {
		router = new Router({
			target: app,
			props: { routes: Routes },
		});
	});
</script>

<Header company="OMC" platformName="Omniconsole" persistentHamburgerMenu={true} bind:isSideNavOpen>
	<div slot="skip-to-content">
		<SkipToContent />
	</div>
</Header>

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		<SideNavLink text="Link 1" />
		<SideNavLink text="Link 2" />
		<SideNavLink text="Link 3" />
		<SideNavMenu text="Menu">
			<SideNavMenuItem href="/" text="Link 1" />
			<SideNavMenuItem href="/" text="Link 2" />
			<SideNavMenuItem href="/" text="Link 3" />
		</SideNavMenu>
		<SideNavDivider />
		<SideNavLink text="Link 4" />
	</SideNavItems>
</SideNav>

<Content>
	<div id="app" bind:this={app} class="vertical" />
</Content>

<style lang="scss" global>
	@import "~carbon-components-svelte/css/g100.css";
	body {
		display: grid;
	}

	.bx--side-nav~.bx--content,
	.bx--side-nav.bx--side-nav--expanded~.bx--content {
		margin-left: 0;
	}


	#app {
		height: 100%;
	}

</style>
